canvas {
  display: block;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#inner-wrapper {
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
}

#inner-wrapper div {
  text-align: center;
}

#video-wrapper {
  width: 100%;
  overflow-x: hidden;
}

#video-inner-wrapper {
  width: 560px;
  position: relative;
  left: 50%;
  margin-left: -280px;
}

#next-wrapper {
  width: 100%;
  overflow-x: hidden;
}

#next-inner-wrapper {
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
}

#next-inner-wrapper div {
  text-align: center;
}